<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page 4</title>
</head>

<body>
  <h1>Welcome to page 4</h1>

  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page3">Page 3</a>

  {{#if dogs}}
  <ul>
    {{#each dogs}}
    <li> {{this.name}} is a {{this.breed}} that is {{this.age}} years old</li>
    {{/each}}
  </ul>
  {{/if}}
</body>

</html>